site_name: Back-end course documentation
site_url: https://backendcoursedocs.github.io/course-docs   

theme:
  name: material
  language: fa                              
  direction: rtl                            
  features:
    - content.code.copy
    - content.code.select
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.suggest
    - search.highlight

markdown_extensions:
  - toc:
      permalink: true
  - admonition                              
  - pymdownx.details
  - pymdownx.superfences                   
  - tables                                 
  - attr_list
  - md_in_html                              
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

nav:
  - Home: index.md
  - DNS: DNS.md
  - HTTP Methods و Status Code در FastAPI: http-methods.md
  - HTTP و HTTPS: http-https.md
  - Client vs Server: client-vs-server.md
